<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/avatar3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".presentation.ui.FriendsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.InventoryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.CreateTaskActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.TaskViewerActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.TaskDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.EditTaskActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.CategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.SearchUsersActivity"
            android:exported="true" />
        <activity android:name=".presentation.ui.UserProfileActivity" />
        <activity android:name=".presentation.ui.QRScannerActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>